.advantage_content_container{
    display: flex;
    justify-content: space-between;
    padding: 5% 0px;
    background-color: #000;
    width: 100%;
}
.topcards{
    margin-bottom: auto;
}
.bottomcards{
    margin-top: 8rem;
}


@media (max-width: 767px) {
.sm_add_text{
    font-size: 10px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .advantage_content_container{
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(2, 1fr); /* Creates 3 equal columns */
        grid-gap: 0px; /* Sets the gap between grid items */
       
    }
    .topcards{
        margin:  auto;
     }
     .bottomcards{
       margin: auto;
     }
     .tabletcards{
        margin-top: 35px;
     }
}