
li {
  list-style: none;
 
}
body{
    margin-top: 5rem;
}
.nav {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 1.5rem;
    height: auto;
    background: linear-gradient(180deg, #EDF2FF 67.68%, rgba(48, 215, 215, 0) 98.78%);
    color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Add a higher z-index value */
  }
.nav__brand {
height: 80px;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3.5rem;
  margin-top: 9px;
  
}
.nav__item{
  font-weight: 800;
  font-size: 18px;
  
}

.nav_link{
  color: #000000;
    text-decoration: none;
}
.nav_link:hover{
  color: gray
}
.nav_link:active{
  color: gray
}
.nav__toggler {
  display: none;
}


.nav_cart{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: -12px;
    margin-right: 5px;
}
.cart{
  margin-top: -15px;
  font-size: 25px;
}
/*  */
@media screen and (max-width: 768px) {
  body{
    margin-top: 2.9rem;
}
 .nav__toggler div {
    width: .7rem;
    height: 0.1rem;
    margin: 0.15rem;
    /* background: rgb(204, 204, 204); */
    background-color: #000000;
    transition: 0.3s ease-in;
  }
  .nav_link{
    color: #000;
      text-decoration: none;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
   }
  .nav__brand {
 height: 50px;
  }
  .nav_cart{
    margin-top: -5px;
  }
  .cart{
    margin-top: -15px;
    font-size: 17px;
  }
  .cart__number{
    font-size: 11px;
  }
  .nav__item{
    font-weight: 600;
    font-size: 18px;
    color: #fff !important;
  }
  .nav__menu {
position: fixed;
    top: 0;
    margin-top: 3rem;
    left: 0;
    height: 100%;
    width: 50vw;
    background: linear-gradient(180deg, #EDF2FF 67.68%, rgba(48, 215, 215, 0) 98.78%);
    color: #000 !important;
    padding-top: 2rem;
    gap: 3rem;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: left !important;
    transform: translateX(-100%);
    transition: 0.5s ease-in;
    z-index: 1001;
  }
}

/* Active Class */
.nav__active {
  transform: translateX(0%);
  
}

/* Toggle Icon Animation */
#lines_div{
  background-color: #fff !important;
  border-radius: 50%;
  padding: 4.5px 3.2px;
  margin: -6px 0px 0px 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-1px, 2px);
  }
  
  .toggle .line2 {
    opacity: 0;
  }
  
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }
